.DS_Store
node_modules/
dist/
npm-debug.log*
**/*.log

tests/**/coverage/
tests/e2e/reports

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock

/.project
/plop-templates/
/build/
/.editorconfig
/.env.production
/.env.sit
/.env.staging
/.env.uat
/.eslintignore
/.eslintrc.js
/*.iml
/*.yml
/LICENSE
/src/.svn
